@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 169 215 164;
    --color-secondary: 14 14 23;
    --color-success: 29 237 131;
    --color-warning: 241 181 55;
    --color-error: 255 56 69;
  }
}

@layer utilities {
  .bg-noise {
    background-image: url(../assets/noise.svg);
  }

  .text-shadow-primary-md {
    text-shadow: -3px -4px 1px rgba(var(--color-primary) / 0.2);
  }
  .text-shadow-primary-lg {
    text-shadow: -4px -4px 2px rgba(var(--color-primary) / 0.2);
  }
  .text-shadow-success-md {
    text-shadow: -3px -4px 1px rgba(var(--color-success) / 0.2);
  }
  .text-shadow-success-lg {
    text-shadow: -4px -4px 2px rgb(var(--color-success) / 0.2);
  }
  .text-shadow-warning-md {
    text-shadow: -3px -4px 1px rgba(var(--color-warning) / 0.2);
  }
  .text-shadow-warning-lg {
    text-shadow: -4px -4px 2px rgb(var(--color-warning) / 0.2);
  }
  .text-shadow-error-md {
    text-shadow: -3px -4px 1px rgba(var(--color-error) / 0.2);
  }
  .text-shadow-error-lg {
    text-shadow: -4px -4px 2px rgb(var(--color-error) / 0.2);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(var(--color-primary) / 0.1);
}

::-webkit-scrollbar-track:hover {
  background: rgba(var(--color-primary) / 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--color-primary));
}
